# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Node & Angular
node_modules/
dist/
.angular/
out-tsc/
tmp/
coverage/
npm-debug.log
yarn-error.log
